#painter-wrapper
  width 100vw
  height 100vh
  .painter-box
    width 375px
    height 375px
    position relative
    .background-css
      width 375px
      height 375px
    .icon-css
      position absolute
      left 0
      top 0
      z-index 1
      //transform rotate(0, 0)
      width 70px
      height 70px
